**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/TestResults/
**/coverage/
**/*.coverage
**/*.coveragexml
**/Properties/launchSettings.json
**/NuGet.Config
**/nuget.config

**/.git/
**/.gitignore
**/.dockerignore

**/*.md
**/Dockerfile
**/docker-compose*.yml
